:root{
    --text-color : #333;
    --icon-color :#f05523;

}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0 ;
}
html{
    font-size: 18px;
    line-height: 1.6 rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
li{
    margin: 0 0 8px 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
a :hover{
 color: var(--text-color);   
}
.grid{
    width: 1190px ;
    max-width: 100%;
    margin: 0 auto;
   
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}