:root{
    --text-color : #333;
    --icon-color :#f05523;
    --text-strong: white ;
}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0 ;
}
html{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6 rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.col-6{
    width :50%;   
}
[class*="col-"]{  
    /* cac class co ten bat dau bang col- */
    float: left;
    /* padding: 15px; */
    border:  15px  ;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.appear{
    display: none;
}
@media only screen and (max-width: 768px) {
    [class*="col-"]{
        width: 100%;
    } 
    .appear{
        display: block;
        text-align: center;
        border: 20px solid white;
       
    }
}

h6{ font-size:  18px;}

ul{
    list-style-type: none;
}
li{
    margin: 0 0 8px 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
a :hover{
 color: var(--text-color);   
}
.grid{
    width: 1190px ;
    max-width: 100%;
    margin: 0 auto;
   
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
